*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}
.nav{
    width: 20%;
    height: 10%;
    background-color: aqua;
}
.sidebar{
    width: 20%;
    height: 10%;
    background-color: blanchedalmond;
}